.container-pass-view{
    height: auto;
    width: 50%;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-pass-view Input{
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
    .container-pass-view {
        width: 85%;
    }
}